
.ctm-btn-title {
	float: right !important;
	font-weight: bold;
}

.menu-elements {
  padding: 0px;
}

.btngame-trapscreen {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 6px;
}

.btngame-catscreen {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  margin-left: 10px;
	padding: 1em 2em;
	border-color: black;
	background-color: #337ab7;
  border-color: #2e6da4;
}

img{
	display: block;
	margin: 0 auto;
	width: 100%;
}

.btn-trapped {
	background:url(/img/bomb.png) no-repeat;
  pointer-events: none;
}

.btn-cat {
  background:url(/img/blackcat.png) no-repeat;
  pointer-events: none;
}

.line-offset {
	margin-left: 28px;
}

.line-offset-cat {
  margin-left: 52px;
}

.div-cat {
  width: 325px;
  height: 325px;
}

.row {
	width:100%;
	margin:auto ;
}

.btn-menu {
  padding: 12px 24px;
  width: 100%;
  min-width: 105px;
  margin-top: 20px;
  font-size: 15px; 
  font-weight: bold;
  text-align: center;
}

.top-offset {
  margin-top: 100px;
}

.disclaimer {
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS";
  font-style: italic;
  color: #449D44;
}

.game-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS";
  font-weight: 900;
  color: black;
}

.btn-rules {
  background-color: white;
  border-color: gray;
}