
.ctm-btn-title {
	margin-top: 20px;
	float: right !important;
	font-weight: bold;
}

.ctm-btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.line-offset {
	margin-left: 17px;
}