<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="">
                <div class="">Open this site on your mobile device:</div>
                <div id="gameURL" class="infoBig">Error!</div>

                <div class="">Then click <strong>JOIN</strong> and <br/> enter the following Game ID:</div>
                <div id="spanNewGameCode" class="">Error!</div>

                <div id="playersWaiting"></div>
            </div>
        </div>
    </div>
</div>