<div class="container-fluid">
    <div class="row-fluid">
        <div id="btnArea" class="div-cat">
            <div class="disc-role">
                Role : Cat
            </div>
            <div class="line-offset-cat">
                <button id="btn_topleft" class="btn btngame-catscreen">
                  <span class='arrow'><img src="../img/topleft.png"></span>
                </button>
                <button id="btn_topright" class="btn btngame-catscreen">
                  <span class='arrow'><img src="../img/rightup.png"></span>
                </button>
            </div>
            <div>
                <button id="btn_left" class="btn btngame-catscreen">
                  <span class='arrow'><img src="../img/left.png"></span>
                </button>
                <button class="btn btn-default btngame-catscreen btn_center" disabled></button>
                <button id="btn_right" class="btn btngame-catscreen">
                  <span class='arrow'><img src="../img/right.png"></span>
                </button>
            </div>
            <div class="line-offset-cat">
                <button id="btn_botleft"class="btn btngame-catscreen">
                  <span class='arrow'><img src="../img/botleft.png"></span>
                </button>
                <button id="btn_botright"class="btn btngame-catscreen">
                  <span class='arrow'><img src="../img/botright.png"></span>
                </button>
            </div>
            <div id="turnArea" class="disclaimer">
                <!-- affichage générés dynamiquement coté app.js -->
            </div>
      </div>
  </div>
</div>