<div class="container">
    <div class="row top-offset">
        <div id="btnArea" class="div-cat">
            <div class="line-offset-cat">
                <button id="btn_topleft" class="btn btn-success btngame-catscreen"></button>
                <button id="btn_topright" class="btn btn-success btngame-catscreen"></button>
            </div>
            <div>
                <button id="btn_left" class="btn btn-success btngame-catscreen"></button>
                <button class="btn btn-default btngame-catscreen" disabled></button>
                <button id="btn_right" class="btn btn-success btngame-catscreen"></button>
            </div>
            <div class="line-offset-cat">
                <button id="btn_botleft"class="btn btn-success btngame-catscreen"></button>
                <button id="btn_botright"class="btn btn-success btngame-catscreen"></button>
            </div>
            <div id="turnArea" class="disclaimer">
                <!-- affichage générés dynamiquement coté app.js -->
            </div>
      </div>
  </div>
</div>