<div class="container">
    <div class="row">
        <div id="btnArea" class="div-cat">
        		<div class="line-offset-cat">
            		<button id="btn_topleft" class="btn btn-success ctm-btn-cat"></button>
            		<button id="btn_topright" class="btn btn-success ctm-btn-cat"></button>
            	</div>
            <div>
            		<button id="btn_left" class="btn btn-success ctm-btn-cat"></button>
            		<button class="btn btn-default ctm-btn-cat" disabled></button>
            		<button id="btn_right" class="btn btn-success ctm-btn-cat"></button>
            </div>
            		<div class="line-offset-cat">
            		<button id="btn_botleft"class="btn btn-success ctm-btn-cat"></button>
            		<button id="btn_botright"class="btn btn-success ctm-btn-cat"></button>
            </div>
        </div>
    </div>
</div>