<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-6 col-sm-offset-3">
			<img class="img-responsive" src="img/blackcatTITLE.gif" alt="[image]">
			<div class="col-xs-12 menu-elements">
				<div class="game-title">Black Cat</div>
			</div>
	        <div class="col-xs-12 menu-elements">
	            <button id="btnCreateGame" class="btn btn-menu btn-primary">PLAY AS TRAP</button>
	            <button id="btnJoinGame" class="btn btn-menu btn-success">PLAY AS CAT</button>
	            <button id="btnRules" class="btn btn-menu btn-rules">RULES</button>
	        </div>
		</div>
    </div>
</div>