<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-sm-6 col-sm-offset-3">
			<img class="img-responsive" src="img/blackcat_title.jpg" alt="[image]">
			<div class="col-xs-6">
				<h2>Chat Noir</h2>
			</div>
			<div class="col-xs-6">
				<div class="ctm-btn-title">
		            <button id="btnCreateGame" class="btn btn-primary">CREATE</button>
		            <button id="btnJoinGame" class="btn btn-success">JOIN</button>
		        </div>
	        </div>
		</div>
    </div>
</div>