<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="">
                <div class="">
                    <label for="inputPlayerName">Your Name:</label>
                    <input id="inputPlayerName" type="text" />
                </div>

                <div class="">
                    <label for="inputGameId">Game ID:</label>
                    <input id="inputGameId" type="text"/>
                </div>

                <div class="">
                    <button id="btnStart" class="">Start</button>
                    <div id="playerWaitingMessage"></div>
                </div>
            </div>
        </div>
    </div>
</div>