<div class="container-fluid">
    <div class="row-fluid">
    	<div class="col-sm-6 col-sm-offset-3">
			<h1>Rules</h1>
			<p>2 joueurs s'affrontent. Un joueur contrôle le chat (Cat) et l'autre pose les pièges (Trap)</p>
			<p>- le but du joueur Cat est de sortir de la map.</p>		
			<p>- le but du joueur Trap est de coincer le chat.</p>
			<p>Le jeu se joue au tour par tour. C'est toujours le joueur Trap qui commence.
			A chaque tour le joueur Cat se déplace d'une case et le joueur Trap en verrouille une.</p>
		<button onclick=location.reload() class="btn btn-primary">GO BACK TO MENU</button>
		</div>
    </div>
</div>